@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin: 0;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0 0px inset !important;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #ffffff;
  outline: none;
}
