@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin: 0;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
}
